{% extends 'base.html' %}
{% load static %}
{% block content %}   

     
        <div class="col">
               
            <h4 class="text-center">{{ message }}</h4>
            {% include 'products/snippets/search.html' %}
                <div class="row">
                    {% include 'products/snippets/product_list.html' %}

                    <!--<li class="list-group-item">
                        {{ product.title }}
                    
                        <!--{% if producto.stock %}
                        <span class="text-success">- Disponible</span>
                        {% else %}
                        <span class="text-danger">- Sin Stock</span>
                        {% endif %}
                        <span class="text-success">{{ product.price }}</span>
                    </li>-->
                   
                </div>
            </ul>
            {#<img src="{% static 'imagenes/a51.jfif' %}" alt="Modulo A51">#}
            
        </div>
    
{% endblock %}